@tailwind base;
@tailwind utilities;
@tailwind components;

// custom responsive base-container
.base-container {
    padding: 0px;
    @screen xs {
        padding: 0 10px;
    }
    @screen sm {
        padding: 0 40px;
    }
    @screen md {
        padding: 0 70px;
    }
    @screen lg {
        padding: 0 100px;
    }
    @screen xl {
        padding: 0 130px;
    }
}
